<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="job">
            <h2><span jhiTranslate="timeSheetApp.job.detail.title">Job</span> {{ job.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="timeSheetApp.job.name">Name</span></dt>
                <dd>
                    <span>{{ job.name }}</span>
                </dd>
                <dt><span jhiTranslate="timeSheetApp.job.description">Description</span></dt>
                <dd>
                    <span>{{ job.description }}</span>
                </dd>
                <dt><span jhiTranslate="timeSheetApp.job.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'timeSheetApp.Status.' + job.status }}">{{ job.status }}</span>
                </dd>
                <dt><span jhiTranslate="timeSheetApp.job.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ job.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="timeSheetApp.job.endDate">End Date</span></dt>
                <dd>
                    <span>{{ job.endDate }}</span>
                </dd>
                <dt><span jhiTranslate="timeSheetApp.job.enable">Enable</span></dt>
                <dd>
                    <span>{{ job.enable }}</span>
                </dd>
                <dt><span jhiTranslate="timeSheetApp.job.project">Project</span></dt>
                <dd>
                    <div *ngIf="job.projectId">
                        <a [routerLink]="['/project', job.projectId, 'view']">{{ job.projectId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job', job.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
